In [2]:
import pandas as pd

In [6]:
t_cols = ["user_id","movie_id","rating"]
ratings = pd.read_csv("./ml-100k/u.data",sep = "\t",names = t_cols, usecols=range(3))

In [8]:
m_cols = ["movie_id","title"]
movies = pd.read_csv("./ml-100k/u.item",sep="|",names=m_cols, usecols=range(2),encoding='latin-1')

In [9]:
ratings = pd.merge(movies, ratings)

In [10]:
ratings.head(10)

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3
5         1  Toy Story (1995)        5       4
6         1  Toy Story (1995)      109       4
7         1  Toy Story (1995)      181       3
8         1  Toy Story (1995)       95       5
9         1  Toy Story (1995)      268       3