In [2]:
import pandas as pd

In [6]:
t_cols = ["user_id","movie_id","rating"]
ratings = pd.read_csv("./ml-100k/u.data",sep = "\t",names = t_cols, usecols=range(3))

In [8]:
m_cols = ["movie_id","title"]
movies = pd.read_csv("./ml-100k/u.item",sep="|",names=m_cols, usecols=range(2),encoding='latin-1')

In [13]:
ratings = pd.merge(movies, ratings)

In [14]:
ratings.head(10)

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3
5         1  Toy Story (1995)        5       4
6         1  Toy Story (1995)      109       4
7         1  Toy Story (1995)      181       3
8         1  Toy Story (1995)       95       5
9         1  Toy Story (1995)      268       3

In [16]:
movieRatings = ratings.pivot_table(index=["user_id"], columns=['title'], values='rating')
movieRatings.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
#Finding ratings for one of my favorite movies

twelve_angry_men_ratings = movieRatings["12 Angry Men (1957)"]
twelve_angry_men_ratings.head(20)

user_id
0     NaN
1     5.0
2     NaN
3     NaN
4     NaN
5     NaN
6     4.0
7     4.0
8     NaN
9     NaN
10    5.0
11    NaN
12    NaN
13    4.0
14    NaN
15    NaN
16    5.0
17    NaN
18    3.0
19    NaN
Name: 12 Angry Men (1957), dtype: float64

In [20]:
similarMovies = movieRatings.corrwith(twelve_angry_men_ratings)
similarMovies = similarMovies.dropna()
df = pd.DataFrame(similarMovies)
df.head(15)

C:\Users\adith\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\numpy\lib\function_base.py:2821: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\adith\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\numpy\lib\function_base.py:2680: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                                              0
title
'Til There Was You (1997)             -0.500000
101 Dalmatians (1996)                 -0.049890
12 Angry Men (1957)                    1.000000
187 (1997)                             0.666667
2 Days in the Valley (1996)            0.256625
20,000 Leagues Under the Sea (1954)    0.274772
2001: A Space Odyssey (1968)           0.178848
39 Steps, The (1935)                   0.457176
8 1/2 (1963)                           0.635698
Above the Rim (1994)                   1.000000
Absolute Power (1997)                 -0.163455
Abyss, The (1989)                      0.045374
Ace Ventura: Pet Detective (1994)     -0.243775
Ace Ventura: When Nature Calls (1995) -0.045596
Across the Sea of Time (1995)          1.000000